
<h1>	Welcome to our project</h1>
<p>	Página principal</p>

<p><%=link_to 'Mensajes',messages_path %></p>	
<p><%=link_to 'AboutUS',aboutUS_path %></p>	
<p><%=link_to 'contactenos', contactUS_path %><p> 

<h2>	pRACTICA gIT</h2>
<h3>	Integrantes: </h3>

<p>	Jose</p>
<p>	Juan David</p>
<p>	Juliana</p>
<p>	Luis</p>
<p>	Raul</p>

