<<<<<<< HEAD
<h1>Proyecto de Prueba</h1>
<p>Página principal</p>
<p><%=link_to 'contactenos', contactUS_path %><p> 
=======
<h1>	pRACTICA gIT</h1>
<h2>	Integrantes: </h2>
<p>	Jose</p>
<p>	Juan David</p>
<p>	Juliana</p>
<p>	Luis</p>
<p>	Raul</p>

>>>>>>> 2a0af651d07ebdd35962b59fb9c2b3672c89d37a
